@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Work+Sans:700|Fira+Mono:400,500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', Utopia, Georgia, Times, 'Apple Symbols', serif;
  line-height: 140%;
  color: #333;
  font-size: 18px;
}

#container {
  width: 700px;
  margin: 18px auto;
}

.bar {
  display: block;
  width: 100%;
  background-color: #ceb;
  box-shadow: 0px 0px 15px 1px #ddd;
}

.bar > nav {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

footer.bar > nav {
  justify-content: center;
}

.bar > nav > a {
  display: block;
  padding: 2px 0 4px 0;
  color: #152;
}

#version {
  text-align: right;
  font-size: 12px;
  font-family: 'Fira Mono', monospace;
  padding-right: 5px;
}

#version a {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', Futura, Helvetica, Arial, sans-serif;
  color: #222;
  line-height: 100%;
  margin-top: 32px;
}

h2 a, h3 a, h4 a {
  color: inherit;
  text-decoration: none;
}

h2 a::before, h3 a::before, h4 a::before {
  content: '#';
  color: #fff;
  font-weight: normal;
  transition: color 0.15s ease;
  display: block;
  float: left;
  width: 32px;
  margin-left: -32px;
}

h2 a:hover::before, h3 a:hover::before, h4 a:hover::before {
  color: #ccc;
}

h1 {
  margin-top: 0;
  font-size: 38px;
  border-bottom: 3px solid #e7c;
  display: inline-block;
}

h2 {
  font-size: 26px;
}

p {
  margin-top: 18px;
}

ul, ol {
  margin-top: 18px;
  margin-left: 36px;
}

hr {
  border: none;
  border-bottom: 1px solid #888;
}

a {
  color: #26d;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: inherit;
  white-space: nowrap;
  background-color: #eff4ea;
  padding: 1px 3px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-weight: normal;
}

kbd {
  font-family: 'Fira Mono', monospace;
  border-radius: 3px;
  padding: 2px 3px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: 14px;
  background: #f7f7f7;
  font-weight: 500;
  color: #555;
  white-space: nowrap;
}

h1 kbd, h2 kbd, h3 kbd, h4 kbd, h5 kbd, h6 kbd {
  font-size: 80%;
}

.diff code {
  font-size: 14px;
  line-height: 20px;
  background-color: none;
  padding: 0;
  margin-bottom: 18px;
  white-space: inherit;
}

.diff pre {
  background-color: #fffcfa;
  padding: 5px 0;
}

.diff {
  border: 1px solid #ede7e3;
  border-radius: 3px;
  margin-top: 18px;
}

.diff .diff-header {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  background-color: #ede7e3;
  font-size: 16px;
  color: #666;
}

.diff .step-number {
  font-weight: bold;
}

.diff .step-filename {
  font-weight: bold;
}

.diff .step-name {
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
}

.diff .diff-header a {
  text-decoration: none;
  color: #666;
}

.diff .diff-header a:hover {
  text-decoration: underline;
}

.diff .step-filename a {
  text-decoration: underline;
}

.diff .diff-footer {
  background-color: #ede7e3;
}

.diff .diff-footer > div {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  padding-right: 5px;
  text-align: right;
}

.diff .diff-tag-c0 {
  color: #b33;
}

.diff .diff-tag-c1 {
  color: #33b;
}

.diff .diff-tag-c2 {
  color: #3b3;
}

.diff .diff-tag-c-unknown {
  color: #a62;
}

.diff .line {
  display: block;
  height: 20px;
  padding: 0 5px;
  position: relative;
}

.diff .line.folded {
  background-color: #eef;
  opacity: 0.5;
}

.diff ins.line {
  background-color: #ffd;
  text-decoration: none;
}

.diff ins.line::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('i/arrow.png');
  background-size: 20px 20px;
  position: absolute;
  right: -24px;
  top: 0;
}

.diff del.line {
  background-color: #fdd;
  text-decoration: line-through;
}

.diff del.line::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('i/x.png');
  background-size: 20px 20px;
  position: absolute;
  right: -24px;
  top: 0;
}

@media screen and (max-width: 700px) {
  #container {
    width: auto;
    margin: 18px 0;
    padding: 0 5px;
  }

  .bar > nav {
    width: auto;
    margin: 0;
    padding: 0 5px;
  }

  .highlight {
    overflow-x: scroll;
  }

  .diff .line {
    width: 700px;
  }

  .diff ins.line::after, .diff del.line::after {
    display: none;
  }
}

