@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Utopia, Georgia, Times, serif;
  line-height: 140%;
  color: #333;
  font-size: 18px;
}

#container {
  width: 800px;
  margin: 0 auto;
  padding: 18px 36px;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  #container {
    width: auto;
    margin: 0;
  }
}

.bar {
  display: block;
  width: 100%;
  background-color: #ceb;
}

.bar > nav {
  display: flex;
  justify-content: space-between;
  width: 728px;
  margin: 0 auto;
}

footer.bar > nav {
  justify-content: center;
}

.bar > nav > a {
  display: block;
  padding: 2px 0 4px 0;
  color: #152;
}

.bar > nav > a:hover {
  color: #374;
}

h1, h2, h3, h4, h5, h6 {
  font-family: futura, helvetica, arial, sans-serif;
  line-height: 100%;
  color: #222;
  margin-top: 32px;
}

h1 {
  margin-top: 0;
  font-size: 38px;
}

h2 {
  font-size: 26px;
}

p {
  margin-top: 18px;
}

ul, ol {
  margin-top: 18px;
  margin-left: 36px;
}

hr {
  border: none;
  border-bottom: 1px solid #888;
}

a {
  color: #26d;
}

a:hover {
  color: #6b2;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: inherit;
  background-color: #eff4ea;
  padding: 1px 3px;
}

.diff code {
  font-size: 14px;
  line-height: 20px;
  background-color: none;
  padding: 0;
  margin-bottom: 18px;
}

.diff pre {
  background-color: #fffcfa;
  padding: 5px 0;
}

.diff {
  border: 1px solid #afb4aa;
  border-radius: 3px;
  margin-top: 18px;
  /*overflow-x: scroll;*/
}

.diff .filename {
  display: none;
  padding-left: 5px;
  background-color: #666;
}

.diff .filename a {
  color: white;
}

.highlight {
  margin: 0;
  background-color: #f9f9f9;
}

.diff .line {
  display: block;
  height: 20px;
  padding: 0 5px;
}

.diff .line.folded {
  background-color: #eef;
  opacity: 0.5;
}

.diff ins.line {
  background-color: #ffd;
  text-decoration: none;
}

.diff del.line {
  background-color: #fdd;
  text-decoration: line-through;
}

img {
  display: block;
  margin: 0 auto;
  background-color: #eff4ea;
  padding: 5px;
  border: 1px solid #ceb;
  border-radius: 3px;
}

